.navbar{

    background-color: #04403a;

}

.navbar .nav-link {
    color: white !important;
    text-decoration: none;
}

.navbar .nav-link:hover {
    color: #ccc !important;
}


.Logo {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.logo-img {
    max-width: 150px;
    height: auto;
}
