.navbar {
    background-color: #1e6054;
}

.nav-link {
    color: #ffffff;
}

.Logo {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.logo-img {
    max-width: 150px;
    height: auto;
}
