{% extends "appteste/cabecalho.html" %}

{% block content%}

<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Lista de Usuários</h2>
            <button class="btn btn-success"><a style="text-decoration: none; color: black;" href="../cadUsuario/">Novo
                    Usuário</a></button>
        </div>

        <table class="table table-bordered table-hover table-striped" id="usuarios">
            <thead class="table-dark">
                <tr>
                    <th style="background-color: #1ba29e; color: #ffffff">Nome</th>
                    <th style="background-color: #1ba29e; color: #ffffff">Login</th>
                    <th style="background-color: #1ba29e; color: #ffffff">Grupo</th>
                    <th style="width: 200px" style="background-color: #1ba29e; color: #ffffff">Editar / Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in obj %}
                <tr> 
                    <td>{{obj.Nome}}</td>
                    <td>{{obj.Login}}</td>
                    <td>{{obj.Categoria_Usuario.Descricao}}</td>

                    <td style="text-align: center;">
                        <button class="btn btn-warning btn-sm">
                            <a href="{% url 'updateUsuario' obj.id %}" style="text-decoration: none; color: rgb(0, 0, 0);">
                                <i class="bi bi-pencil"><strong>Editar</strong></i>
                            </a>
                        </button>
                        <button type="" class="btn btn-danger btn-sm">
                            <a href="{% url 'deleteUsuario' obj.id %}" style="text-decoration: none; color: white;">
                                <i class="bi bi-pencil"><strong>Remover</strong></i>
                            </a>

                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--<div class="d-flex justify-content-center">
            <nav aria-label="Navegação de página">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>-->
    </div>

    <script>
    </script>
    {% endblock %}
</body>