{% extends "appteste/cabecalho.html" %}

{% block content%}

{% load static %}
<link href="{% static 'css/listas.css' %}" rel="stylesheet">

<div class="table-container">
    <h2>Lista de Categorias</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">Nenhuma categoria cadastrada.</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
