{% extends "appteste/cabecalho.html" %}

{% block content%}

<head>

    {% load static%}
    <link href="{% static 'css/listas.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

</head>

<body>
    
    </nav>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Lista de Empreendimentos</h2>
            <button class="btn btn-success"><a href="../cadEmpreendimento/" >Novo Empreendimento</a></button>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar por nome..." aria-label="Buscar por nome">
            <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
        </div>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th style="background-color: #28A394;">Nome</th>
                    <th style="background-color: #28A394;">Descrição</th>
                    <th style="background-color: #28A394;">Data de Início</th>
                    <th style="background-color: #28A394;">Data Final Prevista</th>
                    <th style="background-color: #28A394;">UF</th>
                    <th style="background-color: #28A394;">Cidade</th>
                    <th style="background-color: #28A394;">Custo</th>
                    <th style="background-color: #28A394;">Status</th>
                    <th style="background-color: #28A394; width: 15%;">Editar / Remover</th> 
                </tr>
            </thead>
            </thead>
            <tbody>
                {% for e in emp %}
                <tr>
                    <td>{{e.Nome}}</td>
                    <td>{{e.Descricao}}</td>
                    <td>{{e.Data_inicio}}</td>
                    <td>{{e.Data_fim_prevista}}</td>
                    <td>{{e.UF}}</td>
                    <td>{{e.Cidade}}</td>
                    <td>{{e.Valor_total}}</td>
                    <td>{{e.Ativo}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"><strong>Editar</strong></i>
                        </button>
                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"><strong>Remover</strong></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <nav aria-label="Navegação de página">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
{%endblock%}
</body>

</html>
