{% extends "appteste/cabecalho.html" %}

{% block content%}

{% load static %}
<head>

    {% load static%}
    <link href="{% static 'css/listas.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

</head>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista de Categorias</h2>
    <button class="btn btn-success"><a href="">Nova Categoria</a></button><!-- Fazer pathing cadCategoria.html-->
    </div>

    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar por nome..." aria-label="Buscar por nome">
    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
    </div>

    <table class="table table-bordered table-hover">
        
        <thead class="table-dark">
            
            <tr>
 
                <th style="background-color: #28A394;">Nome</th>
                <th style="background-color: #28A394;">Descrição</th>
                
            </tr>

        </thead>

        <tbody>

            <tr>
                <td>nome exemplo</td>  <!--Puxar categorias do banco de dados-->
                <td>descrição exemplo</td>
            </tr>

        </tbody>
            
    </table>

</div>

{% endblock %}
