{% extends "appteste/cabecalho.html" %}

{% block content %}

<head>
    {% load static %}
    <link href="{% static 'css/listas.css' %}" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<style>
    .hidden {
        display: none;
    }
</style>

<body>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Lista de Empreendimentos</h2>
            <button class="btn btn-success"><a href="../cadEmpreendimento/">Novo Empreendimento</a></button>
        </div>

        <!-- Formulário de filtro -->
        <form method="post" action="{% url 'listaEmpreendimento' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="nome" value="{{ nome }}" placeholder="Buscar por nome..."
                    aria-label="Buscar por nome">
                <input type="text" class="form-control" name="descricao" value="{{ descricao }}"
                    placeholder="Buscar por descrição..." aria-label="Buscar por descrição">
                <input type="text" class="form-control" name="uf" value="{{ uf }}" placeholder="Buscar por UF..."
                    aria-label="Buscar por UF">
                <input type="text" class="form-control" name="cidade" value="{{ cidade }}"
                    placeholder="Buscar por cidade..." aria-label="Buscar por cidade">
                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th style="background-color: #28A394;"></th>
                    <th style="background-color: #28A394;">Nome</th>
                    <th style="background-color: #28A394;">Descrição</th>
                    <th style="background-color: #28A394;">Data de Início</th>
                    <th style="background-color: #28A394;">Data Final Prevista</th>
                    <th style="background-color: #28A394;">UF</th>
                    <th style="background-color: #28A394;">Cidade</th>
                    <th style="background-color: #28A394;">Custo</th>
                    <th style="background-color: #28A394;">Status</th>
                    <th style="background-color: #28A394;">Editar / Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for e in emp %}
                <tr>
                    <td><button class="btn btn-light btn-sm" onclick="esconderLinha(this)">+</button></td>
                    <td>{{ e.Nome }}</td>
                    <td>{{ e.Descricao }}</td>
                    <td>{{ e.Data_inicio }}</td>
                    <td>{{ e.Data_fim_prevista }}</td>
                    <td>{{ e.UF }}</td>
                    <td>{{ e.Cidade }}</td>
                    <td>R${{ e.Valor_total }}</td>
                    <td>
                        {% if e.Ativo %}
                        Ativo
                        {% else %}
                        Inativo
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'updateEmp' e.id %}" class="btn btn-warning btn-sm"><i
                                class="fas fa-edit"></i></a>
                        <a href="{% url 'deleteEmp' e.id %}" class="btn btn-danger btn-sm"><i
                                class="fas fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="nested-table hidden">
                    <td colspan="10">
                        <div style="max-height: 450px; overflow-y:hidden;">
                            <table class="table table-bordered table-hover">
                                <thead class="table-success">
                                    <tr>
                                        <th>Descrição</th>
                                        <th>Valor</th>
                                        <th>Data</th>
                                        <th>Pendente</th>
                                        <th>Categoria</th>
                                        <th>Usuario</th>
                                        <th>Editar/Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in mov_fin %}
                                    <tr>
                                        {% if e.id == m.Empreendimento_id.id %}
                                        <td>{{ m.Descricao }}</td>
                                        <td>{{ m.Valor }}</td>
                                        <td>{{ m.Data }}</td>
                                        <td>
                                            {% if m.Pendente %}
                                            Sim
                                            {% else %}
                                            Não
                                            {% endif %}
                                        </td>
                                        <td>{{ m.Categoria_Financeira }}</td>
                                        <td>{{ m.Usuario }}</td>
                                        <td>
                                            <a href="{% url 'updateGasto' m.id %}" class="btn btn-warning btn-sm"><i
                                                    class="fas fa-edit"></i></a>
                                            <a href="{% url 'deleteGasto' m.id %}" class="btn btn-danger btn-sm"><i
                                                    class="fas fa-trash"></i></a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align: center;">
                            <table style="display: inline-table;">
                                <tr>
                                    <td><a href="{% url 'cadGastos' e.id %}" style="color: black;"><u><i>Novo
                                                    Gasto</i></u></a></td>
                                </tr>
                                <tr>
                                    <td><a href="{% url 'listaGastos' %}" style="color: black;"><u><i>Todos os
                                                    Gastos</i></u></a></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Navegação da Paginação -->
        <div class="d-flex justify-content-center">
            <nav aria-label="Navegação de página">
                <ul class="pagination">
                    <!-- Botão "Primeira Página" -->
                    {% if emp.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page=1&nome={{ nome|default:'' }}&descricao={{ descricao|default:'' }}&uf={{ uf|default:'' }}&cidade={{ cidade|default:'' }}">
                                Primeira
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ emp.previous_page_number }}&nome={{ nome|default:'' }}&descricao={{ descricao|default:'' }}&uf={{ uf|default:'' }}&cidade={{ cidade|default:'' }}">
                                Anterior
                            </a>
                        </li>
                    {% endif %}
                
                    <!-- Botões de Número da Página -->
                    {% for i in emp.paginator.page_range %}
                        <li class="page-item {% if emp.number == i %}active{% endif %}">
                            <a class="page-link"
                                href="?page={{ i }}&nome={{ nome|default:'' }}&descricao={{ descricao|default:'' }}&uf={{ uf|default:'' }}&cidade={{ cidade|default:'' }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endfor %}
                
                    <!-- Botão "Próxima Página" -->
                    {% if emp.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ emp.next_page_number }}&nome={{ nome|default:'' }}&descricao={{ descricao|default:'' }}&uf={{ uf|default:'' }}&cidade={{ cidade|default:'' }}">
                                Próxima
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?page={{ emp.paginator.num_pages }}&nome={{ nome|default:'' }}&descricao={{ descricao|default:'' }}&uf={{ uf|default:'' }}&cidade={{ cidade|default:'' }}">
                                Última
                            </a>
                        </li>
                    {% endif %}
                </ul>                
            </nav>
        </div>

    </div>

    <script>
        function esconderLinha(button) {
            const currentRow = button.parentNode.parentNode;
            const nestedRow = currentRow.nextElementSibling;

            if (nestedRow && nestedRow.classList.contains('nested-table')) {
                nestedRow.classList.toggle('hidden');
            }
        }
    </script>

    {% endblock %}
</body>

</html>